[submodule "go/understanding_channel_buffer_blocking_deadlock_and_goroutines"]
	path = go/understanding_channel_buffer_blocking_deadlock_and_goroutines
	url = git@gist.github.com:8d52e73dac7dc361745bf568c3c4ba37
