[submodule "go/understanding_channel_buffer_blocking_deadlock_and_goroutines"]
	path = go/understanding_channel_buffer_blocking_deadlock_and_goroutines
	url = git@gist.github.com:8d52e73dac7dc361745bf568c3c4ba37
[submodule "go/deadlock"]
	path = go/deadlock
	url = git@gist.github.com:86e7e447af2f9e9f830f464a8dbbb597
[submodule "ansible/replace_module"]
	path = ansible/replace_module
	url = git@gist.github.com:592121dd8dc2a71b796591ccc4564f31
[submodule "ansible/slurp_module"]
	path = ansible/slurp_module
	url = git@gist.github.com:3902607dddac246ca15395b5aedcc2fb
[submodule "ansible/replace_module_bug"]
	path = ansible/replace_module_bug
	url = git@gist.github.com:e1004e77cb253d58d8e707c1fa26200c
[submodule "python/regex_beginner"]
	path = python/regex_beginner
	url = git@gist.github.com:9088d70b495b3aad69829326c7c51882
[submodule "shell/retry"]
	path = shell/retry
	url = git@gist.github.com:d7c96b094cc51941cd7165eae7ba7ef9
